<select>
<option hisname="HBD ^_^" msg="Happy Birthday Fikri-kun ^_^, Semoga Panjang Umur, 
Sehat Selalu, Pinter, Banyak Rejeki, Jadian Sama si DIA Amin ^_^" sender="From :  
X-Code"  src2="http://1.s3.envato.com/files/22579435/images/facebook.png" 
 value2="https://www.facebook.com/fikri.senpai" /> 
</select>
